<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="v1.1_u3.0_0303_v0_15dof">
  <mujoco>
    <compiler meshdir="meshes/" balanceinertia="true" discardvisual="false" />
  </mujoco>

  <!-- <link name="world"></link>
  <joint name="floating_base_joint" type="floating">
    <parent link="world"/>
    <child link="base_link"/>
  </joint> -->

  <link name="base_link">
    <inertial>
      <origin xyz="-0.000112 5E-06 -0.049468" rpy="0 0 0" />
      <mass value="5.717000" />
      <inertia ixx="0.028344" ixy="-0" ixz="-1.4E-05" iyy="0.019181" iyz="-1E-06" izz="0.030360" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/base_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/base_link.STL" />
      </geometry>
    </collision> -->
    <collision>
      <origin xyz="0.00 0 -0.04" rpy="0 0 0" />
      <geometry>
        <box size="0.1 0.2 0.05"/>
      </geometry>
    </collision>
  </link>
  <link name="left_hip_pitch_link">
    <inertial>
      <origin xyz="0.003887 0.021532 -0.028237" rpy="0 0 0" />
      <mass value="2.316500" />
      <inertia ixx="0.005324" ixy="-0.000177" ixz="0.000026" iyy="0.004188" iyz="0.000255" izz="0.004418" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_hip_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_hip_pitch_link.STL" />
      </geometry>
    </collision> -->
    <collision>
      <origin xyz="0 0.0 -0." rpy="1.57 0 0" />
      <geometry>
        <cylinder radius="0.04" length="0.06"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_hip_pitch_joint" type="revolute">
    <origin xyz="0 0.11619 -0.12455" rpy="-0.7854 0 0" />
    <parent link="base_link" />
    <child link="left_hip_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-2.6180" upper="2.6180" effort="150" velocity="14.6608" />
    <dynamics damping="0.1" friction="0.5"/>
  </joint>
  <link name="left_hip_roll_link">
    <inertial>
      <origin xyz="0.001502 0.000027 -0.084234" rpy="0 0 0" />
      <mass value="1.480000" />
      <inertia ixx="0.003100" ixy="-0" ixz="-0.000190" iyy="0.004535" iyz="-0" izz="0.003238" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_hip_roll_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_hip_roll_link.STL" />
      </geometry>
    </collision> -->
    <collision>
      <origin xyz="-0.00 0 -0.06" rpy="0 0.0 0" />
      <geometry>
        <cylinder radius="0.05" length="0.1"/>

      </geometry>
    </collision>
  </link>
  <joint name="left_hip_roll_joint" type="revolute">
    <origin xyz="-0.001 0.03 -0.03" rpy="0.7854 0 0" />
    <parent link="left_hip_pitch_link" />
    <child link="left_hip_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.7854" upper="2.3563" effort="150" velocity="14.6608" />
    <dynamics damping="0.1" friction="0.2"/>
  </joint>
  <link name="left_hip_yaw_link">
    <inertial>
      <origin xyz="-0.010700 -0.008795 -0.120268" rpy="0 0 0" />
      <mass value="2.325000" />
      <inertia ixx="0.008788" ixy="-0.000068" ixz="-0.000755" iyy="0.009619" iyz="-0.000690" izz="0.003107" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_hip_yaw_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_hip_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_hip_yaw_joint" type="revolute">
    <origin xyz="0 0 -0.13" rpy="0 0 0" />
    <parent link="left_hip_roll_link" />
    <child link="left_hip_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-2.0944" upper="2.0944" effort="90" velocity="15.1811" />
    <dynamics damping="0.1" friction="0.5"/>
  </joint>
  <link name="left_knee_link">
    <inertial>
      <origin xyz="0.004163 0.000262 -0.138565" rpy="0 0 0" />
      <mass value="1.833950" />
      <inertia ixx="0.010426" ixy="0.000001" ixz="0.000180" iyy="0.009900" iyz="-0.000045" izz="0.001950" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_knee_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_knee_link.STL" />
      </geometry>
    </collision> -->
    <collision>
      <origin xyz="0.01 0.00 -0.2" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.04" length="0.23"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_knee_joint" type="revolute">
    <origin xyz="-0.015 0 -0.151" rpy="0 0 0" />
    <parent link="left_hip_yaw_link" />
    <child link="left_knee_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.0873" upper="2.0944" effort="150" velocity="14.6608" />
    <dynamics damping="0.1" friction="0.5"/>
  </joint>
  <link name="left_ankle_pitch_link">
    <inertial>
      <origin xyz="-0.002351 -0.000479 -0.006916" rpy="0 0 0" />
      <mass value="0.102000" />
      <inertia ixx="0.000019" ixy="0" ixz="-0.000002" iyy="0.000017" iyz="0" izz="0.000021" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_ankle_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_ankle_pitch_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint name="left_ankle_pitch_joint" type="revolute">
    <origin xyz="0.015 0.0005 -0.339" rpy="0 0 0" />
    <parent link="left_knee_link" />
    <child link="left_ankle_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.9599" upper="0.2618" effort="54" velocity="9.3201" />
    <dynamics damping="0.1" friction="0.6"/>
  </joint>
  <link name="left_ankle_roll_link">
    <inertial>
      <origin xyz="0.044690 -3.2E-05 -0.035309" rpy="0 0 0" />
      <mass value="0.968000" />
      <inertia ixx="0.000623" ixy="-0.000001" ixz="0.000346" iyy="0.004879" iyz="0.000001" izz="0.004936" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_ankle_roll_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_ankle_roll_link.STL" />
      </geometry>
    </collision> -->
    <collision>
      <origin xyz="-0.06 0.035 -0.06" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.06 -0.035 -0.06" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.13 0.035 -0.06" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.13 -0.035 -0.06" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>

    <!-- 额外点 -->
    <collision>
      <origin xyz="0.17 0.018 -0.058" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.17 -0.018 -0.058" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>

    <collision>
      <origin xyz="-0.035 0.035 -0.06" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.035 -0.035 -0.06" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>

    <collision>
      <origin xyz="0.06 0.035 -0.06" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.06 -0.035 -0.06" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_ankle_roll_joint" type="revolute">
    <origin xyz="0 0 -0.015" rpy="0 0 0" />
    <parent link="left_ankle_pitch_link" />
    <child link="left_ankle_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.1745" upper="0.1745" effort="54" velocity="9.3201" />
    <dynamics damping="0.1" friction="0.4"/>
  </joint>
  <link name="right_hip_pitch_link">
    <inertial>
      <origin xyz="0.003743 -0.021585 -0.028165" rpy="0 0 0" />
      <mass value="2.316500" />
      <inertia ixx="0.005317" ixy="0.000185" ixz="0.000021" iyy="0.004168" iyz="-0.000254" izz="0.004413" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_hip_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_hip_pitch_link.STL" />
      </geometry>
    </collision> -->
    <collision>
      <origin xyz="0 0.0 -0." rpy="1.57 0 0" />
      <geometry>
        <cylinder radius="0.04" length="0.06"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_hip_pitch_joint" type="revolute">
    <origin xyz="0 -0.11619 -0.12455" rpy="0.7854 0 0" />
    <parent link="base_link" />
    <child link="right_hip_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-2.6180" upper="2.6180" effort="150" velocity="14.6608" />
    <dynamics damping="0.1" friction="0.5"/>
  </joint>
  <link name="right_hip_roll_link">
    <inertial>
      <origin xyz="0.001510 -0.000004 -0.084234" rpy="0 0 0" />
      <mass value="1.480000" />
      <inertia ixx="0.003087" ixy="-0.000013" ixz="-0.000190" iyy="0.004548" iyz="-0.000001" izz="0.003238" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_hip_roll_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_hip_roll_link.STL" />
      </geometry>
    </collision> -->
    <collision>
      <origin xyz="-0.00 0 -0.06" rpy="0 0.0 0" />
      <geometry>
        <cylinder radius="0.05" length="0.1"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_hip_roll_joint" type="revolute">
    <origin xyz="-0.001 -0.03 -0.03" rpy="-0.7854 0 0" />
    <parent link="right_hip_pitch_link" />
    <child link="right_hip_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-2.3563" upper="0.7854" effort="150" velocity="14.6608" />
    <dynamics damping="0.1" friction="0.2"/>
  </joint>
  <link name="right_hip_yaw_link">
    <inertial>
      <origin xyz="-0.010686 0.008793 -0.120271" rpy="0 0 0" />
      <mass value="2.325000" />
      <inertia ixx="0.008786" ixy="0.000068" ixz="-0.000755" iyy="0.009619" iyz="0.000690" izz="0.003109" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_hip_yaw_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_hip_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="right_hip_yaw_joint" type="revolute">
    <origin xyz="0 0 -0.13" rpy="0 0 0" />
    <parent link="right_hip_roll_link" />
    <child link="right_hip_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-2.0944" upper="2.0944" effort="90" velocity="15.1811" />
    <dynamics damping="0.1" friction="0.5"/>
  </joint>
  <link name="right_knee_link">
    <inertial>
      <origin xyz="0.003946 -0.000275 -0.140064" rpy="0 0 0" />
      <mass value="1.833950" />
      <inertia ixx="0.010901" ixy="-0.000002" ixz="0.000199" iyy="0.010386" iyz="0.000041" izz="0.001950" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_knee_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_knee_link.STL" />
      </geometry>
    </collision> -->
    <collision>
      <origin xyz="0.01 0.00 -0.2" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.04" length="0.23"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_knee_joint" type="revolute">
    <origin xyz="-0.015 0 -0.151" rpy="0 0 0" />
    <parent link="right_hip_yaw_link" />
    <child link="right_knee_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.0873" upper="2.0944" effort="150" velocity="14.6608" />
    <dynamics damping="0.1" friction="0.5"/>
  </joint>
  <link name="right_ankle_pitch_link">
    <inertial>
      <origin xyz="-0.002810 0.000572 -0.008265" rpy="0 0 0" />
      <mass value="0.102000" />
      <inertia ixx="0.000015" ixy="0" ixz="-0.000002" iyy="0.000019" iyz="0" izz="0.000018" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_ankle_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_ankle_pitch_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint name="right_ankle_pitch_joint" type="revolute">
    <origin xyz="0.015 -0.0005 -0.339" rpy="0 0 0" />
    <parent link="right_knee_link" />
    <child link="right_ankle_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.9599" upper="0.2618" effort="54" velocity="9.3201" />
    <dynamics damping="0.1" friction="0.6"/>
  </joint>
  <link name="right_ankle_roll_link">
    <inertial>
      <origin xyz="0.044949 0.000032 -0.035590" rpy="0 0 0" />
      <mass value="0.968000" />
      <inertia ixx="0.000618" ixy="0.000001" ixz="0.000339" iyy="0.004900" iyz="-0.000001" izz="0.004967" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_ankle_roll_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_ankle_roll_link.STL" />
      </geometry>
    </collision> -->
    <collision>
      <origin xyz="-0.06 0.035 -0.06" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.06 -0.035 -0.06" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.13 0.035 -0.06" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.13 -0.035 -0.06" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>

    <!-- 额外点  可关闭-->
    <collision>
      <origin xyz="0.17 0.018 -0.058" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.17 -0.018 -0.058" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>

    <collision>
      <origin xyz="-0.035 0.035 -0.06" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.035 -0.035 -0.06" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>

    <collision>
      <origin xyz="0.06 0.035 -0.06" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.06 -0.035 -0.06" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_ankle_roll_joint" type="revolute">
    <origin xyz="0 0 -0.015" rpy="0 0 0" />
    <parent link="right_ankle_pitch_link" />
    <child link="right_ankle_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.1745" upper="0.1745" effort="54" velocity="9.3201" />
    <dynamics damping="0.1" friction="0.4"/>
  </joint>
  <link name="waist_yaw_link">
    <inertial>
      <origin xyz="-0.025004 1E-06 0.041503" rpy="0 0 0" />
      <mass value="0.287000" />
      <inertia ixx="0.000199" ixy="0" ixz="0.000033" iyy="0.000469" iyz="0" izz="0.000601" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/waist_yaw_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/waist_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="waist_yaw_joint" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="waist_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-1.5708" upper="1.5708" effort="90" velocity="15.1811" />
  </joint>
  <link name="waist_roll_link">
    <inertial>
      <origin xyz="0 0 -0.000017" rpy="0 0 0" />
      <mass value="0.185000" />
      <inertia ixx="0.000026" ixy="0" ixz="0" iyy="0.000055" iyz="0" izz="0.000075" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/waist_roll_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/waist_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="waist_roll_joint" type="revolute">
    <origin xyz="0 0 0.0615" rpy="0 0 0" />
    <parent link="waist_yaw_link" />
    <child link="waist_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.1745" upper="0.1745" effort="90" velocity="14.8702" />
  </joint>
  <link name="torso_link">
    <inertial>
      <origin xyz="-0.005876 0.000112 0.233621" rpy="0 0 0" />
      <mass value="11.299000" />
      <inertia ixx="0.191861" ixy="0.000024" ixz="-0.003668" iyy="0.150152" iyz="0.000230" izz="0.075259" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/waist_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/waist_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="waist_pitch_joint" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="waist_roll_link" />
    <child link="torso_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.3491" upper="0.6981" effort="90" velocity="14.8702" />
  </joint>
  <link name="head_yaw_link">
    <inertial>
      <origin xyz="-0.001469 -0.001706 0.101301" rpy="0 0 0" />
      <mass value="0.879937" />
      <inertia ixx="0.002016" ixy="0.000020" ixz="0.000012" iyy="0.001837" iyz="-0.000019" izz="0.000719" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/head_yaw_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/head_yaw_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint name="head_yaw_joint" type="fixed">
    <origin xyz="0 0 0.4375" rpy="0 0 0" />
    <parent link="torso_link" />
    <child link="head_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-1.5708" upper="1.5708" effort="14" velocity="32.9867" />
  </joint>
  <link name="head_pitch_link">
    <inertial>
      <origin xyz="0.024719 0.005163 0.054194" rpy="0 0 0" />
      <mass value="0.311827" />
      <inertia ixx="0.000474" ixy="-5.7E-05" ixz="-0.000221" iyy="0.000684" iyz="4E-06" izz="0.000504" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/head_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/head_pitch_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint name="head_pitch_joint" type="fixed">
    <origin xyz="0 0 0.142" rpy="0 0 0" />
    <parent link="head_yaw_link" />
    <child link="head_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.6632" upper="0.2618" effort="14" velocity="32.9867" />
  </joint>
  <link name="left_shoulder_pitch_link">
    <inertial>
      <origin xyz="0.005662 0.045222 -0.000004" rpy="0 0 0" />
      <mass value="0.820000" />
      <inertia ixx="0.000577" ixy="-2E-06" ixz="0" iyy="0.000574" iyz="0" izz="0.000604" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_shoulder_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_shoulder_pitch_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint name="left_shoulder_pitch_joint" type="fixed">
    <origin xyz="0 0.1446 0.3935" rpy="0 0 0" />
    <parent link="torso_link" />
    <child link="left_shoulder_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-2.6180" upper="2.6180" effort="80" velocity="3.0369" />
  </joint>
  <link name="left_shoulder_roll_link">
    <inertial>
      <origin xyz="0.004162 0.000060 -0.097299" rpy="0 0 0" />
      <mass value="0.888000" />
      <inertia ixx="0.001275" ixy="0.000001" ixz="-0.000285" iyy="0.001422" iyz="0" izz="0.000848" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_shoulder_roll_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_shoulder_roll_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint name="left_shoulder_roll_joint" type="fixed">
    <origin xyz="0 0.047 0" rpy="0 0 0" />
    <parent link="left_shoulder_pitch_link" />
    <child link="left_shoulder_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.0873" upper="3.2289" effort="80" velocity="3.0369" />
  </joint>
  <link name="left_shoulder_yaw_link">
    <inertial>
      <origin xyz="0.006267 0.007667 -0.091718" rpy="0 0 0" />
      <mass value="0.980000" />
      <inertia ixx="0.001362" ixy="-0.000009" ixz="0.000066" iyy="0.001395" iyz="0.000075" izz="0.000779" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_shoulder_yaw_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_shoulder_yaw_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint name="left_shoulder_yaw_joint" type="fixed">
    <origin xyz="-0.00072034 0 -0.1346" rpy="0 0 0" />
    <parent link="left_shoulder_roll_link" />
    <child link="left_shoulder_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-2.6180" upper="2.6180" effort="80" velocity="3.6652" />
  </joint>
  <link name="left_elbow_link">
    <inertial>
      <origin xyz="0.081388 0.010684 -0.008487" rpy="0 0 0" />
      <mass value="0.516000" />
      <inertia ixx="0.000349" ixy="0.000183" ixz="0.000021" iyy="0.000555" iyz="-0.000008" izz="0.000712" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_elbow_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_elbow_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint name="left_elbow_joint" type="fixed">
    <origin xyz="0.0075 0 -0.1019" rpy="0 0 0" />
    <parent link="left_shoulder_yaw_link" />
    <child link="left_elbow_link" />
    <axis xyz="0 1 0" />
    <limit lower=" -0.6981" upper="3.3161" effort="80" velocity="3.6652" />
  </joint>
  <link name="left_wrist_roll_link">
    <inertial>
      <origin xyz="0.085290 -0.000042 -0.005123" rpy="0 0 0" />
      <mass value="0.670000" />
      <inertia ixx="0.000435" ixy="0" ixz="0.000096" iyy="0.001130" iyz="0" izz="0.001041" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_wrist_roll_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_wrist_roll_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint name="left_wrist_roll_joint" type="fixed">
    <origin xyz="0.1 0.0019 -0.009" rpy="0 0 0" />
    <parent link="left_elbow_link" />
    <child link="left_wrist_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-2.6180" upper="2.6180" effort="11.5" velocity="3.6652" />
  </joint>
  <link name="left_wrist_yaw_link">
    <inertial>
      <origin xyz="0.051473 0.006559 -0.001913" rpy="0 0 0" />
      <mass value="0.365000" />
      <inertia ixx="0.000136" ixy="-0.000006" ixz="-0.000025" iyy="0.000176" iyz="-0.000004" izz="0.000156" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_wrist_yaw_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_wrist_yaw_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint name="left_wrist_yaw_joint" type="fixed">
    <origin xyz="0.1135 0 0" rpy="0 0 0" />
    <parent link="left_wrist_roll_link" />
    <child link="left_wrist_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-1.6581" upper="1.5708" effort="11.5" velocity="3.6652" />
  </joint>
  <link name="left_wrist_pitch_link">
    <inertial>
      <origin xyz="0.033052 0.013883 0.000464" rpy="0 0 0" />
      <mass value="0.049000" />
      <inertia ixx="0.000023" ixy="0.000007" ixz="0" iyy="0.000025" iyz="0" izz="0.000032" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_wrist_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_wrist_pitch_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint name="left_wrist_pitch_joint" type="fixed">
    <origin xyz="0.054 0 0" rpy="0 0 0" />
    <parent link="left_wrist_yaw_link" />
    <child link="left_wrist_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-1.6581" upper="1.4835" effort="11.5" velocity="3.6652" />
  </joint>
  <link name="left_hand_link">
    <inertial>
      <origin xyz="0.0683645 -0.008132 0.010005" rpy="0 0 0" />
      <mass value="0.5" />
      <inertia ixx="0.000568" ixy="0.000080" ixz="-0.000136" iyy="0.001412" iyz="-0.000176" izz="0.001243" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_hand_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_hand_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint name="left_hand_joint" type="fixed">
    <origin xyz="0.052 0 0.001" rpy="0 0 0" />
    <parent link="left_wrist_pitch_link" />
    <child link="left_hand_link" />
    <axis xyz="0 0 0" />
  </joint>
  <link name="right_shoulder_pitch_link">
    <inertial>
      <origin xyz="0.005482 -0.045219 -0.000003" rpy="0 0 0" />
      <mass value="0.820000" />
      <inertia ixx="0.000579" ixy="0.000002" ixz="0" iyy="0.000569" iyz="0" izz="0.000599" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_shoulder_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_shoulder_pitch_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint name="right_shoulder_pitch_joint" type="fixed">
    <origin xyz="0 -0.1446 0.3935" rpy="0 0 0" />
    <parent link="torso_link" />
    <child link="right_shoulder_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-2.6180" upper="2.6180" effort="80" velocity="3.0369" />
  </joint>
  <link name="right_shoulder_roll_link">
    <inertial>
      <origin xyz="0.004272 -0.000068 -0.097053" rpy="0 0 0" />
      <mass value="0.888000" />
      <inertia ixx="0.001300" ixy="0" ixz="-0.000295" iyy="0.001449" iyz="0" izz="0.000851" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_shoulder_roll_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_shoulder_roll_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint name="right_shoulder_roll_joint" type="fixed">
    <origin xyz="0 -0.047 0" rpy="0 0 0" />
    <parent link="right_shoulder_pitch_link" />
    <child link="right_shoulder_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-3.2289" upper="0.0873" effort="80" velocity="3.0369" />
  </joint>
  <link name="right_shoulder_yaw_link">
    <inertial>
      <origin xyz="0.006264 -0.007667 -0.091716" rpy="0 0 0" />
      <mass value="0.980000" />
      <inertia ixx="0.001362" ixy="0.000009" ixz="0.000066" iyy="0.001395" iyz="-0.000075" izz="0.000780" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_shoulder_yaw_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_shoulder_yaw_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint name="right_shoulder_yaw_joint" type="fixed">
    <origin xyz="-0.00072034 0 -0.1346" rpy="0 0 0" />
    <parent link="right_shoulder_roll_link" />
    <child link="right_shoulder_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-2.6180" upper="2.6180" effort="80" velocity="3.6652" />
  </joint>
  <link name="right_elbow_link">
    <inertial>
      <origin xyz="0.080847 -0.010963 -0.008432" rpy="0 0 0" />
      <mass value="0.516000" />
      <inertia ixx="0.000354" ixy="-0.000193" ixz="0.000024" iyy="0.000576" iyz="0.000009" izz="0.000737" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_elbow_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_elbow_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint name="right_elbow_joint" type="fixed">
    <origin xyz="0.0075 0 -0.1019" rpy="0 0 0" />
    <parent link="right_shoulder_yaw_link" />
    <child link="right_elbow_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.6981" upper="3.3161" effort="80" velocity="3.6652" />
  </joint>
  <link name="right_wrist_roll_link">
    <inertial>
      <origin xyz="0.0852865 0.0000455 -0.005134" rpy="0 0 0" />
      <mass value="0.679415" />
      <inertia ixx="0.000437" ixy="-0.000001" ixz="0.000097" iyy="0.001131" iyz="0" izz="0.001041" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_wrist_roll_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_wrist_roll_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint name="right_wrist_roll_joint" type="fixed">
    <origin xyz="0.1 -0.0019 -0.009" rpy="0 0 0" />
    <parent link="right_elbow_link" />
    <child link="right_wrist_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-2.6180" upper="2.6180" effort="11.5" velocity="3.6652" />
  </joint>
  <link name="right_wrist_yaw_link">
    <inertial>
      <origin xyz="0.051473 -0.006559 -0.001913" rpy="0 0 0" />
      <mass value="0.365000" />
      <inertia ixx="0.000136" ixy="0.000006" ixz="-0.000025" iyy="0.000176" iyz="0.000004" izz="0.000156" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_wrist_yaw_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_wrist_yaw_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint name="right_wrist_yaw_joint" type="fixed">
    <origin xyz="0.1135 0 0" rpy="0 0 0" />
    <parent link="right_wrist_roll_link" />
    <child link="right_wrist_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-1.5708" upper="1.6581" effort="11.5" velocity="3.6652" />
  </joint>
  <link name="right_wrist_pitch_link">
    <inertial>
      <origin xyz="0.033015 -0.013883 0.001630" rpy="0 0 0" />
      <mass value="0.049000" />
      <inertia ixx="0.000023" ixy="-0.000007" ixz="-0.000001" iyy="0.000025" iyz="-0.000001" izz="0.000032" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_wrist_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_wrist_pitch_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint name="right_wrist_pitch_joint" type="fixed">
    <origin xyz="0.054 0 0" rpy="0 0 0" />
    <parent link="right_wrist_yaw_link" />
    <child link="right_wrist_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-1.6581" upper="1.4835" effort="11.5" velocity="3.6652" />
  </joint>
  <link name="right_hand_link">
    <inertial>
      <origin xyz="0.0683645 0.008132 0.010005" rpy="0 0 0" />
      <mass value="0.5" />
      <inertia ixx="0.000568" ixy="-0.000080" ixz="-0.000136" iyy="0.001412" iyz="0.000176" izz="0.001243" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_hand_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_hand_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint name="right_hand_joint" type="fixed">
    <origin xyz="0.052 0.001 0" rpy="0 0 0" />
    <parent link="right_wrist_pitch_link" />
    <child link="right_hand_link" />
    <axis xyz="0 0 0" />
  </joint>
  <link name="imu_link"></link>
  <joint name="imu_joint" type="fixed">
    <origin xyz="-0.09835 0 -0.052" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="imu_link" />
    <axis xyz="0 0 0" />
  </joint>
</robot>
